.Calculator-main {
  background-image: url("../img/logo0.375.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0px solid #222;
  border-radius: 10px;
  background-color: #4e596d;
  padding: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vmin;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.Calculator-form {
  background-color: rgba(215, 234, 250, 0.8);
  width: 50vmax;
  max-width: 70vw;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 0px solid #444;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.Calculator-form p {
  margin: 0px;
}

.Calculator-form button,
input {
  display: flex;
  background-color: #a3b6d8;
  border: 1px solid #7181a1;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin: 5px;
  margin-top: 0;
  height: 5vmin;
  transition: 0.5s;
  outline: 0;
}

.Calculator-form button:hover {
  background-color: #7f91b4;
  border: 1px solid #7181a1;
}

.Form-btn {
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  width: 5vmin;
  margin-top: 20px;
}

.Form-btn:hover {
  background-color: #7f91b4;
  border: 1px solid #7181a1;
}

.Form-default-btn {
  transition: 0.5s;
}

.Form-default-btn:hover {
  background-color: #7f91b4;
  border: 1px solid #7181a1;
}

.Calculator-chart {
  border-radius: 10px;
  display: none;
  max-height: 40vh;
}

.Chart-container {
  display: block;
}

.Chart-legends {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 50px;
}

.Chart-legends p {
  display: inline;
  padding: 5px;
  border-radius: 4px;
  margin: 5px;
}
